/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body { background-color: #FFFFFF; font-family: Arial, Verdana, sans-serif; font-size: 14px; color:#000000 }

:link { color:#000000; }
:visited { color:#000000; }

/* Headings */
h1 { font-size: 26px; }

/* Table colors */
.TableHeadingColor     { background: #336699; font-size: 18px; color:#FFFFFF} /* Dark mauve */
.TableSubHeadingColor  { background: #336699; font-size: 18px; color:#FFFFFF } /* Light mauve */
.TableRowColor         { background: #FFFFFF; font-size: 13px; } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 17px; font-family: Arial, Verdana, sans-serif;}
.FrameHeadingFont { font-size: 15px; font-family: Arial, Verdana, sans-serif;}
.FrameItemFont    { font-size: 13px; font-family: Arial, Verdana, sans-serif  }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#E2E2E2;} /* Light mauve */
.NavBarCell1Rev { background-color:#336699;} /* Dark Blue */
.NavBarFont1    { font-family: Arial, Verdana, sans-serif ; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Verdana, sans-serif ; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Verdana, sans-serif ; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Verdana, sans-serif ; background-color:#FFFFFF;}

